.header{
    font-size: 7rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.navCen{

    display: flex;
    text-align:right;
    background-color: aquamarine;
}
.navs{
    font-size: 3rem;
    text-decoration: none;   
}

.foodTitle{
    font-size: 7rem;
    text-align: center;
    color: red;
}

.directions{
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: underline;
}

.foodIng{
    display: block;
    font-size: 1.9rem;
    text-align: left;
}