.header{
    font-size: 7rem;
    color: red;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.navCen{
    text-align:right;
    background-color: aquamarine;
}
.navs{
    font-size: 5rem;
    text-decoration: none;
    
}